@import '~@angular/material/theming';
@include mat-core();

$Exchange-primary: mat-palette($mat-indigo);
$Exchange-accent: mat-palette($mat-pink, A200, A100, A400);
$Exchange-warn: mat-palette($mat-red);

$Exchange-theme: mat-light-theme((
  color: (
    primary: $Exchange-primary,
    accent: $Exchange-accent,
    warn: $Exchange-warn,
  )
));

@include angular-material-theme($Exchange-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
