
<div class='border'>
  <mat-card *ngIf='!processing'>
    <mat-card-header>
      <mat-card-title class='text-lightblue text-underline'>Sell Netherite</mat-card-title>
      <mat-card-subtitle>1 Eth = 64 Netherite</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class='margin-left'>
      <form [formGroup]='sellForm' (ngSubmit)='sell()'>
        <span>
          You send:
        </span>
        <div *ngIf='error.error' class='error red-text'>
          <span>* {{error.message}}</span>
        </div>
        <mat-form-field appearance="fill" required [style.width.%]=100 class='point2-font'>
          <mat-label>Netherite</mat-label>
          <input matInput formControlName="netheriteAmount" type='number' autocomplete="off">
        </mat-form-field>

        <br>

        <span>
          You receive:
        </span>
        <mat-form-field appearance="fill" [style.width.%]=100 class='point2-font'>
          <mat-label> {{ receiveAmount }} Ethereum</mat-label>
          <input matInput disabled>
        </mat-form-field>

        <div mat-dialog-actions>
          <button mat-stroked-button class='button-outline-lightblue text-lightblue width-max point5-font' type='submit'>
            Swap
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <p *ngIf='processing' class='point5-font centre-text margins'> Processing... </p>
</div>

