@use 'sass:map';

.spacer {
  flex: 1 1 auto;
}

.heading {
  color: white;
  font-size: 1.5em;
}

.link {
  color: #FF4574;
  margin-right: 1%;
}

.link:hover {
  text-decoration: underline;
}

.identicon {
  background: white;
  border: 3px solid #FF4574;
  border-radius: 25%;
}
