.container {
  padding: 7px;
}

.light-blue {
  color: #03FFFB
}

.pink {
  color: #FF4574
}

.white-underline {
  text-decoration: underline;
  text-decoration-color: white;
}

.button-outline-lightblue {
  border: 2px solid #03FFFB !important;
}

.button-outline-pink {
  border: 2px solid #FF4574 !important;
}

.width-max {
  width: 100%
}

.margin-bottom {
  margin-bottom: 4px;
}
